@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
}

.canvas {
  touch-action: none;
  width: 100vw;
  height: 100dvh;
}

.container-wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
